/* Media screen mobile */

.containerContent {
  padding: 10% 5% 10% 5%;
  background: #fff;
  text-align: center;
  width: 100%;
  height: 100vh;
  margin: auto;
}

.containerContent h1 {
  font-size: 28px;
  margin: 10px 0;
}

.containerContent h1::first-letter {
  color: green;
  font-size: 30px;
}

.containerContent p {
  font-size: 19px;
}

.containerInputs {
  margin-top: 20px;
  text-align: left;
}

.containerInputs label {
  display: block;
  font-size: 20px;
  margin-bottom: 2px;
  font-weight: bold;
}

.containerInputs input,
.containerInputs textarea {
  width: 90%;
  padding: 10px 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.containerInputs textarea {
  resize: vertical;
  height: 95px;
}

.containerButton {
  display: flex;
  justify-content: center;
}

.containerButton button {
  background: #48bb3e;
  color: #fff;
  border: none;
  font-size: 18px;
  border-radius: 5px;
  padding: 12px 40px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.containerInputs button:hover {
  background: #178e11;
}

.containerImg {
  display: none;
}


/* Style for tablet and desktop*/
@media screen and (min-width: 800px) {
  .containerContact {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
  }

  .containerContent {
    background: initial;
    padding: 20px 20px;
    margin-top: 20px;
    margin-left: 8%;
    margin-right: 10%;
    margin-bottom: 10px;
    max-width: 400px;
    height: initial;
    border-radius: 10px;
    box-shadow: 9px 10px 15px 15px rgba(0, 0, 0, 0.2);
  }

  .containerContent h1 {
    margin-top: 0px;
  }

  .containerInputs textarea {
    height: 60px;
  }

  .containerImg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding-left: 10px;
    bottom: 0px;
    right: 0px;
    border-radius: 199px 0px 0px 67px;
    width: 40%;
    height: 65vh;
  }

  .containerImg img {
    margin-top: 29px;
    width: 430px;
  }
}
