/* Media screen mobile */

.containerInitialDashboard {
    padding: 10px;
}

.bottomNavegationScrollAppearance {
  position: absolute;
  top: 0px;
  right: 0px;
}

.bottomNavegationScrollAppearance h1 {
  cursor: pointer;
  padding: 20px;
  margin: 0px;
}



/* media screen desktop */
@media screen and (min-width: 750px) {
    .bottomNavegationScrollAppearance {
        display: none;
    }

    .containerInitialDashboard {
        padding-left: 250px;
    }

}
