/* styles for mobile, tablet and desktop */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-image: url("https://us.123rf.com/450wm/jes2ufoto/jes2ufoto1608/jes2ufoto160800102/62481345-pared-del-estudio-abstracto-azul-de-la-pendiente-para-el-dise%C3%B1o-de-tel%C3%B3n-de-fondo-para-el-producto-o.jpg?ver=6");
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
}

.containerResetPassword {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.containerResetPassword h1 {
  color: #333;
  font-size: 30px;
}

.containerInput {
  margin-top: 25px;
}

.containerInput input[type="password"] {
  width: 90%;
  padding: 10px 15px;
  font-size: 19px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.containerInput button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  font-size: 19px;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.containerInput button[type="submit"]:hover {
  background-color: #0056b3;
}
