/* Styles for mobile */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5% 3% 10% 3%;
}

.container h1 {
  font-size: 32px;
  color: #333;
  margin-bottom: 20px;
}

.container h1::first-letter {
  color: green;
  font-size: 34px;
}

.containerInputs {
  background: rgba(255, 255, 255, 0.8);
  padding: 15px 10px ;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: 0 auto;
}

.containerInputs input {
  width: 90%;
  padding: 15px;
  font-size: 19px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.containerInputs button {
  background-color: #62b85a;
  color: #fff;
  font-size: 19px;
  border: none;
  margin-top: 10px;
  border-radius: 5px;
  padding: 15px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.containerInputs button:hover {
  background-color: #0e7a10;
}

.containerResendEmail {
  text-align: center;
}

.text {
  font-size: 20px;
  padding-bottom: 3px;
  text-decoration: underline;
  margin: 5px;
}

.containerResendEmail button {
  background-color: #3498db;
  color: #fff;
  font-size: 20px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.containerResendEmail button:hover {
  background-color: #2471a4;
}

/* Styles for table and desktop */
@media screen and (min-width: 750px) {
  .container {
    padding: initial;
  }
}
