/*   Media screen movile   */

/* parentContainer */
.parentContainer {
  position: fixed;
  top: 0px;
  left: -300px;
  height: 100vh;
  background: #E8E8E8;
  box-shadow: 2px 2px 10px black;
  z-index: 1;
  transition: left 1s;
}

.sidebarNavegation {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.sidebarNavegation nav {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.sidebarNavegation article {
  margin-bottom: 30px;
}

.sidebarNavegation article img {
  border-radius: 50%;
}

.navbarLink {
  color: black;
  cursor: pointer;
  margin: 0px;
  white-space: nowrap;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  padding: 15px 25px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease;
  transition: box-shadow 0.3s ease;
}

.navbarLink:hover {
  color: green;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/*------------------------------*/
/* Contenedor Fixed Settings */
.fixedSettingsContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(218, 216, 216);
  padding: 20px;
  width: 100%;
  height: 100%;
  z-index: 3;
  overflow: auto;
}

.fixedSettingsContainer h1 {
  font-size: 40px;
  margin: 0px;
  display: inline-block;
  cursor: pointer;
}

.fixedSettingsContainer h3 {
  font-size: 23px;
  text-decoration: underline;
  text-align: center;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 35px;
}

.formUpdateDataUser {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.4);
  background-color: #f9f9f9;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* Estilos para los labels dentro del formulario */
.formUpdateDataUser label {
  display: block;
  margin-top: 10px;
}

.formUpdateDataUser input[type="text"],
.formUpdateDataUser input[type="file"] {
  width: 90%;
  padding: 10px;
  font-size: 18px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formUpdateDataUser button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: rgb(51, 168, 51);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
}

.formUpdateDataUser button[type="submit"]:hover {
  background: rgb(11, 122, 11);
}

/*  Media screen tablet and desktop  */
@media screen and (min-width: 750px) {
  .parentContainer {
    left: 0px;
  }

  .sidebarNavegation {
    justify-content : space-between;
  }

  .navbarLink {
    padding: 15px 50px;
  }
}
