/* Style for mobile, tablet and desktop*/
.messageError {
  color: rgb(112, 109, 109);
  white-space: nowrap;
  font-size: 17px;
}

.messageError:hover {
  color: rgb(0, 0, 0);
}

.mainButton {
  transform: scale(1.5);
  margin-right: 10px;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}

.counter {
  font-size: 23px;
}



