/* Media screen mobile */

/* container allBlogs 1 */
.containerAllBlogs1 {
  display: flex;
  flex-direction: column;
}

.link {
  white-space: nowrap;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
  text-decoration: none;
  color: #333;
}

.link:hover {
  color: green;
  text-decoration: underline;
}

.searchForm {
  display: flex;
}

.searchForm input {
  padding: 8px 15px;
  font-size: 17px;
  border-radius: 10px;
  margin: 0px 10px;
  border: 1px solid gray;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.searchForm button {
  background-color: #2c8b33;
  color: #fff;
  font-size: 17px;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.searchForm button:hover {
  background: green;
}
/* ---------------------*/

/* container allBlogs 2 */
.blogContentContainer {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border-radius: 10px;
  border: 3px solid #ccc;
  padding: 20px;
  margin-top: 25px;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.blogContentContainer:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
}

.containerImg {
  display: flex;
  justify-content: center;
}

.containerImg img {
  width: 80%;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.blogImage {
  width: 100px;
}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.description {
  font-size: 18px;
  color: #555;
  margin-top: 10px;
  word-break: break-word;
}

.creation {
  font-weight: bold;
  text-decoration: underline;
  font-size: 16px;
  color: #777;
  margin-top: 10px;
}
/* ---------------------*/

/* Styles button pagination */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 15px;
}

.pageButton {
  background-color: #4ec776;
  color: #fff;
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  font-size: 17px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pageButton:hover {
  background-color: #0e9131;
}
/* ---------------- */

/* Media screen tablet */
@media screen and (min-width: 550px) and (max-width: 800px) {
}

/* Media screen tablet and desktop*/
@media screen and (min-width: 700px) {
  /* container allBlogs 1 */
  .containerAllBlogs1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 3%;
  }
  /* ---------------------*/

  /* container allBlogs 2 */
  .containerAllBlogs2 {
    padding-left: 20px;
    padding-right: 70px;
  }

  .blogContentContainer {
    display: flex;
    flex-direction: initial;
    border: 5px solid #ccc;
  }

  .containerImg img {
    width: 300px;
  }

  .blogInfo {
    width: 100%;
    padding: 0px 10px;
  }

  .title {
    text-align: start;
  }

  /* ---------------------*/
}
