/* Media screen Mobile*/
.containerFixed {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 85%;
  height: 87vh;
  padding: 100px;
  transform: translate(-50%, -50%);
  background: white;
  box-shadow: 2px 3px 10px black;
  z-index: 10;
  overflow-y: auto;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.topSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.createComment {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.commentsUpdateVisibility {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 75%;
  height: 40vh;
  transform: translate(-50%, -50%);
  background: white;
  box-shadow: 2px 3px 10px black;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}


.textTarea {
  width: 99%;
  border: none;
}